body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
}

.contact-card {
    border-radius: 20px;
    padding: 40px;
    background: #ffffff;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.contact-title {
    font-size: 42px;
    font-weight: bold;
    color: #6a1b9a;
}

.contact-title span {
    color: #000;
}

label {
    font-weight: 600;
}

.form-control {
    border-radius: 25px;
}

.btn-purple {
    background-color: #6a1b9a;
    border: none;
    color: #fff;
    border-radius: 25px;
}

.btn-purple:hover {
    background-color: #501274;
}

.footer {
    background-color: #6a1b9a;
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
}
