body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.register-background {
    background-image: url('images/Background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.register-box {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.form-group {
    position: relative;
}

.form-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.form-control {
    padding-left: 40px;
}

.btn-primary {
    background-color: #6a1b9a;
    border: none;
}

.btn-primary:hover {
    background-color: #4a148c;
}

.heading-style {
    font-family: 'Pacifico', cursive;
    color: #dd1155;
    font-size: 32px;
}
