* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f5f5f5;
    color: #333;
}

/* HERO */
.hero {
    background: #6a1b9a;
    color: white;
    text-align: center;
    padding: 70px 20px;
    box-sizing: border-box;
}

.hero h1 {
    font-size: 2.8rem;
}

.hero p {
    margin-top: 10px;
    font-size: 1.1rem;
}

.hero-sub {
    opacity: 0.9;
}

.hero-buttons {
    margin-top: 30px;
}

.btn {
    padding: 12px 25px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    margin: 5px;
    display: inline-block;
}
#btn2{
   color: white;
   border: 2px solid white;
}
#btn2:hover{
    background-color: white;
    color: #6f2dbd;
}


.primary {
    background: white;
    color: #6f2dbd;
}


/* CONTAINER */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
}

/* CARD */
.card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.card h2 {
    color: #6f2dbd;
    margin-bottom: 15px;
}

.bold {
    font-weight: bold;
    margin-top: 10px;
}

/* FEATURES */
.features {
    list-style: none;
}

.features li {
    margin-bottom: 10px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

/* TESTIMONIAL */
.testimonial {
    background: #efe3ff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.testimonial span {
    display: block;
    margin-top: 8px;
    font-weight: bold;
    color: #6f2dbd;
}

/* CTA */
.cta {
    text-align: center;
    margin-top: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.2rem;
    }

    .grid img {
        height: 180px;
    }
}
